<div class="b-login-content">
	<div class="loginFormWrapper">
		<center>
			<div class="alert alertError" data-bind="visible: '' !== submitError()">
				<button type="button" class="close" data-bind="click: function () { submitError('') }">&times;</button>
				<span data-bind="text: submitError"></span>
			</div>
			<form class="form-horizontal span4 wrapper loginForm thm-login" action="#/" data-bind="submit: submitForm">
				<div class="control-group" data-bind="css: {'error': loginError}">
					<div class="input-append">
						<input type="text" class="inputLogin span4 checkAutocomplete" placeholder="Login" name="RainLoopAdminLogin" id="RainLoopAdminLogin"
							autocorrect="off" autocapitalize="off" spellcheck="false"
							data-bind="textInput: login, hasFocus: loginFocus" />
						<span class="add-on">
							<i class="icon-user"></i>
						</span>
					</div>
				</div>
				<div class="control-group" data-bind="css: {'error': passwordError}">
					<div class="input-append">
						<input type="password" class="inputPassword span4 checkAutocomplete" placeholder="Password" name="RainLoopAdminPassword" id="RainLoopAdminPassword"
							autocorrect="off" autocapitalize="off" spellcheck="false"
							data-bind="textInput: password" />
						<span class="add-on">
							<i class="icon-key"></i>
						</span>
					</div>
				</div>
				<div class="control-group">
					<button type="submit" class="btn btn-large span4 buttonLogin" data-bind="command: submitCommand">
						<i class="icon-spinner animated" data-bind="visible: submitRequest"></i>
						<span data-bind="visible: !submitRequest()">Log into the admin panel</span>
					</button>
				</div>
			</form>
<!--			<div class="e-powered thm-powered" data-bind="visible: logoPowered">
				Powered by <a href="http://rainloop.net" target="_blank">RainLoop</a>
			</div>-->
		</center>
	</div>
	<div class="loginAfter"></div>
<div>