
.rl-view-model {
	&.RL-Login, &.RL-LoginNew, &.RL-AdminLogin, &.RL-About {
		position: relative;
		height: 100%;
		z-index: 5;
	}
}

.mfp-container .mfp-figure {
	min-height: 300px;
	min-width: 300px;
}